5000 BITMAP "Bitmap_1.bmp"

5001 BITMAP "Bitmap_2.bmp"

5002 BITMAP "Bitmap_3.bmp"

5003 BITMAP "Bitmap_4.bmp"

5010 BITMAP "Bitmap_5.bmp"

5011 BITMAP "Bitmap_6.bmp"

5012 BITMAP "Bitmap_7.bmp"

5013 BITMAP "Bitmap_8.bmp"

